html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li, a,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
textarea { resize: none; }
button { cursor: pointer; }
ul, ol { list-style: outside none; }
input, textarea { outline: 0; border: 0 none; -webkit-border-radius:0; border-radius:0; }
a:link, a:hover, a:focus, 
a:active, a:visited { text-decoration: none; color: #000; }
a:hover, a:focus { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
address, em { font-style: normal; }

/*! font face */
@font-face {
	font-family: 'Klavika';
	src: url('../fonts/klavikamedium-plain.eot');
	src: url('../fonts/klavikamedium-plain.eot?#iefix')
		format('embedded-opentype'), url('../fonts/klavikamedium-plain.woff')
		format('woff'), url('../fonts/klavikamedium-plain.ttf')
		format('truetype'),
		url('../fonts/klavikamedium-plain.svg#klavikamedium-plain')
		format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Klavika';
	src: url('../fonts/klavikalight-plain.eot');
	src: url('../fonts/klavikalight-plain.eot?#iefix')
		format('embedded-opentype'), url('../fonts/klavikalight-plain.woff')
		format('woff'), url('../fonts/klavikalight-plain.ttf')
		format('truetype'),
		url('../fonts/klavikalight-plain.svg#klavikalight-plain')
		format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Klavika';
	src: url('../fonts/klavikalight-italic.eot');
	src: url('../fonts/klavikalight-italic.eot?#iefix')
		format('embedded-opentype'), url('../fonts/klavikalight-italic.woff')
		format('woff'), url('../fonts/klavikalight-italic.ttf')
		format('truetype'),
		url('../fonts/klavikalight-italic.svg#klavikalight-plain')
		format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Klavika';
	src: url('../fonts/klavikamedium-italic.eot');
	src: url('../fonts/klavikamedium-italic.eot?#iefix')
		format('embedded-opentype'), url('../fonts/klavikamedium-italic.woff')
		format('woff'), url('../fonts/klavikamedium-italic.ttf')
		format('truetype'),
		url('../fonts/klavikamedium-italic.svg#klavikamedium-italic')
		format('svg');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Klavika';
	src: url('../fonts/klavikabold-italic.eot');
	src: url('../fonts/klavikabold-italic.eot?#iefix')
		format('embedded-opentype'), url('../fonts/klavikabold-italic.woff')
		format('woff'), url('../fonts/klavikabold-italic.ttf')
		format('truetype'),
		url('../fonts/klavikabold-italic.svg#klavikabold-plain') format('svg');
	font-weight: 700;
	font-style: italic;
}

/*! Geral */
html {
	
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
	
	font: normal normal 100% Klavika, Helvetica, Arial, sans-serif;
	color: #1a1a1a;
	line-height: 1.5em;
	
	background: #555 url(../images/allbg.png) repeat;
}
.all-site {
	min-width: 1000px;
}